@using Files.Core.PartailViews.Repository
@model Films
@*<div style="border: 1px solid black; margin: 15px">
        <h2>@Model.Title</h2>

        <p>Description: @Model.Discritption</p>
        <time>Duration: @Model.Duration</time>

    </div>*@
@Html.Partial("Detailspartial");

